body{
    margin: auto;
    padding: auto;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
        "header header"
        "menu main"
        "footer footer";
}

header {
    grid-area: header; 
    background: #4f7ee2;
}

main {
    grid-area: main; 
    min-height: 100vh;    
}

nav{
    grid-area: menu;
    text-decoration: none;
    width: 100%;
    height: 100%;

    background-color: #4f7ee2;
}

nav a{
    display: block;
    padding: 40px;
    color: #000;
    text-decoration: none;
}




header h1 {
    color: white;
    text-align: center;
}

footer {
    grid-area: footer; 
    background: #a0aec0;
}

td, tr, th {
    padding: 1em;
    border: 1px solid black;
}

th {
    background: cornflowerblue;
    color: white;
}

table {
    border-collapse: collapse;
    margin: auto;
    margin-top: 40px; 
    max-width: 100%;

}

tr:nth-child(odd) {
    background: rgba(0, 0, 0, .1);
}

.student {
    width: 300px; /* Définissez la largeur du formulaire selon vos besoins */
    margin: 0 auto; /* Centrez horizontalement le formulaire */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}
.student label {
    margin-bottom: 10px; /* Espacement entre les étiquettes et les champs d'entrée */
}
.student input {
    padding: 5px;
    width: 100%;
    margin-bottom: 10px; /* Espacement entre les champs d'entrée */
}
.student-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}